{% extends 'main.html' %}


{% block content %}


    <section class="text-gray-400 bg-gray-900 body-font">
        <div class="container px-5 py-24 mx-auto flex flex-col" bis_skin_checked="1">
            <div class="lg:w-4/6 mx-auto" bis_skin_checked="1">
                <div class="rounded-lg h-64 overflow-hidden" bis_skin_checked="1">
                    <img alt="content" class="object-cover object-center h-full w-full"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhIGuI16i3HU2tXLBDrL2Mdr2GiD-9WJobZsWGd7Rmww&s">
                </div>
                <div class="flex flex-col sm:flex-row mt-10" bis_skin_checked="1">
                    <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8" bis_skin_checked="1">
                        <div class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-gray-800 text-gray-600"
                            bis_skin_checked="1">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
                                <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                                <circle cx="12" cy="7" r="4"></circle>
                            </svg>
                        </div>
                        <div class="flex flex-col items-center text-center justify-center" bis_skin_checked="1">
                            <h2 class="font-medium title-font mt-4 text-white text-lg">Alok
                                <br>
                                Deepak
                                <br>
                                Nirbhay
                            </h2>
                            <div class="w-12 h-1 bg-indigo-500 rounded mt-2 mb-4" bis_skin_checked="1"></div>
                            <p class="text-base text-gray-400">8840921885</p>
                        </div>
                    </div>
                    <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-800 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left"
                        bis_skin_checked="1">
                        <p class="leading-relaxed text-lg mb-4">

                            Welcome to our job applying website prototype! We are Alok, Deepak, and Nirbhay, a team of
                            dedicated developers passionate about creating innovative solutions for job seekers and
                            employers alike.

                            Our mission is to make the job application process as simple and straightforward as possible,
                            while also providing employers with a streamlined way to find the best candidates for their open
                            positions. With our website, job seekers can easily browse and apply for a wide range of jobs in
                            different industries, while employers can post their job openings and search for qualified
                            candidates with ease.

                            We believe in the power of technology to transform the way we work, and we're committed to
                            staying at the forefront of the latest trends and developments in the industry. That's why we're
                            constantly working to improve our website and offer new features that make it even more
                            user-friendly and effective.

                            Thank you for visiting our website and we look forward to helping you find your dream job or the
                            perfect candidate for your company!
                        </p>
                        <a class="text-indigo-400 inline-flex items-center">Learn More
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                <path d="M5 12h14M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>





{% endblock %}