{% extends 'main.html' %}


{% block content %}
  <section class="text-gray-400 bg-gray-900 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto" bis_skin_checked="1">
      <div class="lg:w-4/5 mx-auto flex flex-wrap" bis_skin_checked="1">
        <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="{{Image}}">
        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0" bis_skin_checked="1">
          <h2 class="text-sm title-font text-gray-500 tracking-widest">{{Job.JobCompany}}</h2>
          <h1 class="text-white text-3xl title-font font-medium mb-1">{{Job.JobTitle}}</h1>
          <p class="leading-relaxed">{{Job.JobDescription}}</p>
          <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-800 mb-5" bis_skin_checked="1">
            <div class="flex" bis_skin_checked="1">
              <span class="mr-3">{{Job.JobLocation}}</span>
            </div>
            <div class="flex ml-6 items-center" bis_skin_checked="1">
              <span class="mr-3">{{Job.JobType}}</span>

            </div>
          </div>
          <form action="/job-profile/{{Job.Id}}" method= "post">
            {% csrf_token %}
            <div class="flex" bis_skin_checked="1">
              <span class="title-font font-medium text-2xl text-white">{{Job.JobSalary}}</span>
              <input type="submit" name="apply" value="Apply"
              class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}